    /* 300 */
    
    @font-face {
        font-family: "OpenSans-Light";
        src: url(fonts/OpenSans-Light.ttf);
    }
    /* 400 */
    
    @font-face {
        font-family: "OpenSans-Regular";
        src: url(fonts/OpenSans-Regular.ttf);
    }
    /* 600 */
    
    @font-face {
        font-family: "OpenSans-SemiBold";
        src: url(fonts/OpenSans-SemiBold.ttf);
    }
    /* 700 */
    
    @font-face {
        font-family: "OpenSans-Bold";
        src: url(fonts/OpenSans-Bold.ttf);
    }
    /* 800 */
    
    @font-face {
        font-family: "OpenSans-ExtraBold";
        src: url(fonts/OpenSans-ExtraBold.ttf);
    }