        /* media queries */
        /* MOBILE  (576px)*/
        
        @media screen and (max-width:576px) {
            /* general */
            .main-title {
                text-align: center;
                padding: 10px;
            }
            .main-title h2 {
                font-size: 1.2rem;
                margin-bottom: 5px;
            }
            .main-title p {
                font-size: 0.7rem;
                line-height: 1.5;
                -webkit-line-clamp: 4;
            }
            .flex-btn {
                display: flex;
            }
            .main-btn {
                padding: 5px 15px;
                background: #343434;
                color: #f2f2f1;
                font-size: .7rem;
            }
            .plan-list a {
                margin-top: 0;
            }
            /* header */
            .header-nav {
                flex-direction: column;
                align-items: flex-start;
                padding-left: 10px;
            }
            .header-nav ul {
                display: none;
            }
            .header-fixed {
                height: 27px;
            }
            /* slider */
            #slider-area {
                height: 60vw;
            }
            .slider-item h2 {
                font-size: 1rem;
            }
            .slider-item h3 {
                font-size: 0.7rem;
            }
            /* About Settings */
            .about-first {
                display: flex;
                justify-content: center;
            }
            .about-left {
                padding-top: 0;
            }
            .about-left h2 {
                font-size: 1rem;
                margin-bottom: 5px;
            }
            .about-left span {
                font-size: 0.6rem;
                padding-right: 0;
                line-height: 1.5;
            }
            .about-list li {
                padding: 3px;
            }
            .about-list li a {
                font-size: .8rem;
            }
            .box-item {
                width: calc(100% - 20px);
                padding-right: 10px;
                padding-left: 10px;
            }
            .short-btn {
                margin-right: 5px;
            }
            .short-btn a {
                width: 103px;
                font-size: 0.6rem;
                padding: 10px;
            }
            .short-btn a i {
                padding-left: 5px;
            }
            .about-right {
                margin-top: 20px;
                padding-left: 30px;
            }
            .about-left {
                padding-bottom: 10px;
            }
            .about-content {
                padding-bottom: 0;
            }
            .about-icon {
                width: 35px;
                height: 35px;
                right: 23px;
            }
            .about-icon i {
                font-size: 1rem;
            }
            .about-desc h3 {
                font-size: 0.7rem;
            }
            .about-desc p {
                font-size: .6rem;
                line-height: 1.5;
                text-align: left;
            }
            /* Team Settings */
            .team-items {
                margin-top: 0;
                margin-bottom: 0;
            }
            .team-content {
                width: calc(100% - 20px);
                padding-left: 10px;
                padding-right: 10px;
            }
            .team-gallery {
                width: calc(100% - 10px);
                padding-left: 5px;
                padding-right: 5px;
            }
            .t-g-item {
                width: calc((100% / 2) - 10px);
                margin: 5px;
                margin-right: 5px;
            }
            .t-overlay {
                opacity: 1;
            }
            .team-img {
                height: 100px;
            }
            .t-g-item h3 {
                font-size: .8rem;
            }
            .team-content h3 {
                font-size: .8rem;
            }
            .team-content h3 span {
                font-size: .6rem;
            }
            .team-content p {
                font-size: .6rem;
                line-height: 1.5;
                padding-right: 0;
            }
            .t-social a {
                font-size: 1rem;
            }
            /* profile */
            .profile-items {
                padding: 10px 0;
            }
            .profile-item {
                padding: 0 10px;
            }
            .profile-item h3 {
                font-size: .9rem;
            }
            .profile-item p {
                font-size: .7rem;
                -webkit-line-clamp: 4;
            }
            /* result */
            .result-items {
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .result-item {
                width: calc((100% / 2) - 10px);
                margin: 5px;
            }
            .result-icon {
                width: 40px;
                height: 40px;
                border: 6px solid #f2f2f1;
            }
            .result-icon i {
                font-size: 1rem;
            }
            .result-item h3 {
                font-size: 1.2rem;
                margin-top: 10px;
            }
            .result-item h4 {
                font-size: 0.75rem;
                margin: 0;
            }
            .result-item p {
                color: #999;
                font-size: 0.5rem;
                font-family: "OpenSans-Regular";
                margin: 5px 0;
            }
            /* Services Settings */
            #services {
                flex-direction: column;
            }
            .w100 {
                width: 100%;
            }
            .services-items {
                padding-top: 0;
            }
            .services-item {
                text-align: center;
                margin-left: 5px;
                margin-right: 5px;
                width: calc(50% - 10px);
            }
            .services-item h3 {
                font-size: .75rem;
                margin-bottom: 5px;
            }
            .services-item h3 i {
                font-size: .9rem;
                padding-right: 5px;
            }
            .services-item div {
                font-size: 0.6rem;
                line-height: initial;
                -webkit-line-clamp: 6;
            }
            .services-header {
                text-align: center;
                padding: 20px;
            }
            .services-header h2 {
                font-size: 1.1rem;
                margin-bottom: 5px;
            }
            .services-header p,
            .services-item p {
                font-size: 0.7rem;
                line-height: 1.5;
                -webkit-line-clamp: 4;
            }
            .services-img {
                height: 250px;
            }
            /* Plan Settings */
            .plan-item {
                width: 100%;
                margin: 5px 10px;
                text-align: center;
            }
            .plan-list {
                padding: 10px;
            }
            .plan-list li {
                padding: 0 5px 5px 5px;
                font-size: 0.6rem;
            }
            .plan-price {
                padding: 5px 10px;
            }
            .plan-price h2 {
                font-size: 1.5rem;
                margin: 0;
            }
            .plan-price h2 span {
                font-size: 0.8rem;
            }
            .plan-price h3 {
                font-size: .9rem;
                margin: 0;
            }
            /* clients */
            .client-list {
                justify-content: center;
            }
            .client-list {
                padding-left: 0;
                margin: 0;
            }
            .client-list li {
                width: calc(100% / 3 - 20px);
                padding: 10px;
                text-align: center;
            }
            .client-list li i {
                font-size: 3rem;
            }
            /* Portfolio */
            .portfolio-list ul {
                flex-direction: column;
                padding: 0;
                margin-top: 0;
            }
            .portfolio-list li {
                padding: 0;
            }
            .portfolio-list li a {
                font-size: .7rem;
            }
            .padding {
                padding: 0 10px;
            }
            .port-hover {
                opacity: 1;
                visibility: visible;
            }
            .port-item {
                width: calc(50% - 6px);
                margin: 5px 3px;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
            }
            .port-hover {
                background: transparent;
            }
            .phover-desc {
                padding: 9px 0;
            }
            .phover-img {
                display: none;
            }
            .port-name {
                font-size: 12px;
            }
            .port-text {
                font-size: 11px;
            }
            /*blog*/
            .blog-items {
                padding: 10px 0;
            }
            .blog-item {
                width: 90%;
                margin: 10px auto;
            }
            .blog-img {
                height: 190px;
            }
            .blog-info {
                padding: 5px 10px;
            }
            .blog-info * {
                font-size: .6rem;
            }
            .blog-desc {
                padding: 0 10px;
            }
            .blog-desc h3 {
                margin: 5px 0 0;
            }
            .blog-desc h3 a {
                font-size: .9rem;
            }
            .blog-desc p {
                font-size: .75rem;
                line-height: 1.5;
                margin: 0;
                font-family: "OpenSans-Regular";
            }
            .blog-btn span {
                padding: 5px 10px;
                font-size: .7rem;
            }
            .blog-btn i {
                padding: 5px 10px;
                font-size: 1rem;
            }
            #blog .bg-alabaster {
                padding-bottom: 20px;
                background: #fff;
            }
            /* Contact Settings */
            #contact {
                padding-bottom: 0;
            }
            .contact-item,
            .contact-form {
                width: 100%;
            }
            .contact {
                padding: 0;
                margin: 0;
            }
            .contact-form {
                padding: 0 10px;
            }
            .form-textarea textarea {
                height: 150px;
            }
            .form-btn {
                font-size: 0.75rem;
            }
            .contact-element {
                margin: 0;
            }
            .contact-element ul {
                padding-left: 0;
            }
            .contact-element h3 {
                margin: 0;
                font-size: .875rem;
            }
            .contact-element li {
                line-height: 1.5;
                font-size: .7rem;
                font-weight: 400;
                margin: 0;
            }
            /* footer */
            .footer-items {
                padding: 10px 0;
            }
            .f-social ul {
                margin: 0;
            }
            .f-social li a {
                font-size: .6rem;
                height: 20px;
                width: 20px;
            }
            .footer p {
                font-size: .8rem;
            }
        }
        /* IPAD  (576px - 767px) */
        
        @media screen and (min-width:576px) and (max-width:767px) {
            /* general */
            .main-title {
                padding: 20px 10px;
                text-align: center;
                max-width: none;
            }
            .main-title p {
                max-width: 100%;
            }
            /* header */
            .header-nav {
                padding: 20px;
            }
            .header-nav li {
                padding: 20px 10px;
            }
            /* sldier */
            #slider-area {
                height: 60vw;
            }
            .slider-item h2 {
                font-size: 1.5rem;
            }
            .slider-item h3 {
                font-size: .9rem;
            }
            /* About Settings */
            .box-mini-container {
                max-width: calc(100% - 20px);
                margin: 20px;
            }
            .box-item {
                width: 100%;
            }
            .about-content {
                padding-bottom: 20px;
            }
            .about-first {
                display: flex;
                justify-content: center;
            }
            .about-left {
                padding: 0 0 10px;
            }
            .about-left h2 {
                font-size: 1.2rem;
            }
            .flex-btn {
                display: flex;
            }
            .short-btn {
                margin-right: 5px;
            }
            .short-btn a {
                width: 103px;
                font-size: 0.7rem;
                padding: 10px 0 10px 10px;
            }
            .short-btn a i {
                padding-left: 5px;
            }
            /* About Settings */
            .about-right {
                margin-top: 30px;
                padding-left: 30px;
            }
            .about-desc h3 {
                font-size: 0.9rem;
            }
            .about-desc p {
                line-height: 1.5;
            }
            /* Team Settings */
            .team-items {
                margin-top: 0;
                margin-bottom: 0;
            }
            .team-content {
                width: calc(100% - 20px);
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
            }
            .team-gallery {
                width: calc(100% - 20px);
                padding-left: 10px;
                padding-right: 10px;
            }
            .t-overlay {
                opacity: .7;
            }
            /* profile */
            .profile-items {
                padding: 10px;
            }
            .profile-items p {
                font-size: .8rem;
                font-family: "OpenSans-Regular";
            }
            /* result */
            .result-items {
                margin: 30px 0;
            }
            .result-icon {
                width: 45px;
                height: 45px;
                border: 7px solid #f2f2f1;
            }
            .result-icon i {
                font-size: .9rem;
            }
            .result-item h3 {
                font-size: 1.2rem;
                margin-top: 10px;
            }
            .result-item h4 {
                font-size: 0.7rem;
                margin: 0;
            }
            .result-item p {
                font-size: 0.6rem;
                font-family: "OpenSans-Regular";
                -webkit-line-clamp: 5;
            }
            /* profile */
            .port-hover {
                opacity: 1;
                visibility: visible;
            }
            .port-item {
                width: calc(100% / 3 - 10px);
                margin: 5px;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
            }
            .port-hover {
                background: transparent;
            }
            .phover-img {
                display: none;
            }
            /* ------------ */
            /* result */
            .result-icon {
                width: 60px;
                height: 60px;
                border: 8px solid #f2f2f1;
            }
            .result-icon i {
                font-size: 1.2rem;
            }
            .result-item h3 {
                font-size: 1.4rem;
                margin-top: 15px;
            }
            .result-item h4 {
                font-size: 0.8rem;
                margin-top: 7px;
                margin-bottom: 7px;
            }
            .result-item p {
                color: #999;
                font-size: 0.7rem;
                font-family: "OpenSans-Regular";
                margin-bottom: 30px;
                padding-left: 20px;
                padding-right: 20px;
            }
            /* Services Settings */
            #services {
                flex-direction: column;
            }
            .w100 {
                width: 100%
            }
            .services-header {
                padding-right: 50px;
                padding-left: 50px;
            }
            .services-img {
                height: 300px;
            }
            .services-header p {
                line-height: 1.5;
                font-size: 0.8rem;
            }
            .services-item {
                width: 45%;
                margin: 10px auto;
            }
            .services-items {
                padding: 0;
            }
            .services-item h3 {
                margin: 5px 0;
            }
            .services-item div {
                font-size: 0.7rem;
            }
            /* Plan Settings */
            .plan-item {
                width: calc(100% / 3 - 10px);
                margin: 5px;
                text-align: center;
            }
            .plan-price {
                padding: 10px;
            }
            .plan-price h2 {
                font-size: 2rem;
            }
            .plan-price h3 {
                font-size: .9rem;
            }
            .plan-list {
                padding: 10px;
            }
            .plan-list li {
                padding: 3px 5px;
                font-size: 0.7rem;
            }
            #plan .main-btn {
                padding: 7px 25px;
                font-size: .7125rem;
                margin: 5px;
            }
            /* clients */
            .client-list {
                justify-content: center;
            }
            .client-list {
                padding-left: 0;
                margin: 0;
            }
            .client-list li {
                width: calc(100% / 6);
                padding: 10px 0;
                text-align: center;
            }
            .client-list li i {
                font-size: 4rem;
            }
            /* portfolio  */
            .port-hover {
                opacity: 1;
                visibility: visible;
            }
            /*blog*/
            #blog .bg-alabaster {
                padding-bottom: 0;
                background: #fff;
            }
            .blog-items {
                padding: 10px;
            }
            .blog-item {
                width: calc(100% / 3 - 16px);
                margin: 8px;
            }
            .blog-info {
                padding: 8px 0;
            }
            .blog-info * {
                font-size: 0.64rem;
            }
            .blog-desc {
                padding: 0;
            }
            .blog-desc h3 {
                font-size: .9rem;
            }
            .blog-desc p {
                font-size: .7rem;
                line-height: 1.5;
                -webkit-line-clamp: 6;
            }
            .blog-btn i {
                font-size: 1.1rem;
            }
            .blog-btn span {
                font-size: 0.8rem;
            }
            /* Contact Settings */
            #contact {
                padding-bottom: 0;
            }
            .contact-item {
                width: 100%;
                margin: 0 10px;
            }
            /* .contact-form {
                width: 100%;
                margin: 30px;
            } */
            .contact {
                display: flex;
                padding: 0;
                margin: 0;
            }
            .agency-contact {
                width: 50%;
                margin-bottom: 0;
            }
            .work-hours {
                width: 50%;
            }
            .contact h3 {
                font-size: 0.9375rem;
            }
            .contact p,
            .contact a,
            .contact .address {
                font-size: 0.75rem;
                font-weight: 400;
            }
            .contact-items {
                padding-top: 0;
            }
            .contact-form {
                width: calc(100% - 20px);
                margin: 0 10px;
            }
            .contact-form textarea {
                height: 170px;
            }
            .contact-element {
                margin: 0;
            }
            .contact-element ul:first-child {
                padding-left: 0;
                padding-right: 40px;
            }
            .contact-element li {
                font-weight: 500;
                margin: 8px 0;
            }
            /* footer */
            .footer-items {
                padding: 20px 10px;
            }
        }
        /* IPAD (767px - 1200px) */
        
        @media screen and (min-width:767px) and (max-width:992px) {
            /* general */
            .main-title {
                padding-left: 20px;
                padding-right: 20px;
            }
            /* header */
            .header-nav {
                padding: 20px;
            }
            /* About Settings */
            .box-item {
                width: calc(50% - 40px);
                padding-left: 20px;
                padding-right: 20px;
            }
            .about-left {
                padding: 30px 0 20px;
            }
            .about-left h2 {
                font-size: 1.3rem;
            }
            .about-left span {
                font-size: .75rem;
                line-height: 1.8;
                -webkit-line-clamp: 6;
                text-align: justify;
            }
            .short-btn {
                display: inline-flex;
            }
            .short-btn a {
                font-size: .9rem;
                padding: 8px 15px;
                width: 140px;
            }
            .short-btn a i {
                padding-left: 10px;
            }
            .about-right {
                padding-left: 30px;
                margin-top: 47px;
            }
            .about-content {
                padding-bottom: 25px;
            }
            .about-icon {
                width: 40px;
                height: 40px;
            }
            .about-icon i {
                font-size: 1.2rem;
            }
            .about-desc h3 {
                font-size: 1rem;
            }
            .about-desc p {
                font-size: .7rem;
                line-height: 1.5;
                -webkit-line-clamp: 4;
                margin: 0;
            }
            /* team */
            .team-items {
                margin: 30px 20px;
            }
            .t-overlay {
                opacity: 1;
            }
            /* result */
            .result-items {
                margin: 40px 0;
            }
            .result-item {
                width: calc(25% - 20px);
                margin: 10px;
            }
            .result-item p {
                margin-bottom: 0;
            }
            /* Services Settings */
            .services-header {
                padding-left: 20px;
            }
            .services-item {
                width: calc(50% - 70px);
                padding-left: 20px;
            }
            .services-item p {
                text-overflow: ellipsis;
                -webkit-box-orient: block-axis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                overflow: hidden;
            }
            /* Plan Settings */
            #plan .main-title {
                padding-left: 10px;
            }
            .plan-price {
                padding: 15px 20px;
            }
            .plan-price h2 {
                font-size: 2.9rem;
            }
            .plan-price h3 {
                font-size: 1rem;
            }
            .plan-list {
                padding: 10px 20px 20px;
            }
            .plan-list li {
                padding: 4px 0px;
            }
            .plan-list a {
                margin-top: 10px;
            }
            /* Blog Settings */
            #blog .main-title,
            .blog-items {
                padding-left: 20px;
                padding-right: 20px;
            }
            /* profile */
            #portfolio .main-title {
                padding: 20px 10px;
            }
            .port-item {
                box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
            }
            /* blog */
            #blog .bg-alabaster {
                padding-bottom: 20px;
            }
            .blog-items {
                padding: 20px 0;
            }
            .blog-info,
            .blog-desc {
                padding: 10px;
            }
            .blog-info * {
                font-size: 0.675rem;
            }
            .blog-desc h3 {
                margin: 0;
            }
            .blog-desc p {
                font-size: .7rem;
                line-height: 1.7;
                -webkit-line-clamp: 6;
                margin: 0;
                padding: 10px 0;
            }
            /* Contact Setting */
            #contact {
                padding-bottom: 0;
            }
            .contact h3 {
                font-size: 0.9375rem;
            }
            .contact p,
            .contact a,
            .contact .address {
                font-size: 0.75rem;
                font-weight: 400;
            }
            .contact-items {
                padding-top: 0;
            }
            .contact-item {
                width: 100%;
            }
            .contact {
                display: flex;
                padding: 0;
            }
            .agency-contact {
                width: 50%;
                margin-bottom: 0;
            }
            .contact-form {
                width: calc(100% - 20px);
                margin: 0 10px;
            }
            .contact-element {
                margin-bottom: 30px;
            }
            .contact-agency ul {
                padding: 0 40px 0 0;
            }
            /* footer */
            .footer-items {
                padding: 30px 0;
            }
        }